.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.services h2{
    font-size: 4rem;
}

.container-services{
    width: 80vw;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.service-card{
    width: 450px;
    height: 600px;
    color: black;
    border: solid 4px var(--main-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--main-color);
    transition: 0.4s ease-in-out;
}

.service-card:hover{
    background-color: black;
    color: var(--main-color);
    transform: scale(1.04);
}

.Service-icon{
    width: 40%;
    padding: 40px;
    background-color: var(--main-color);
    border-radius: 20px;
}

.service-card h3{
    font-size: 3rem;
    font-weight: 800;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-card p{
    font-weight: 500;
    margin: 20px 40px;
    font-weight: 600;
    display: flex;
    text-align: center;
}

/*Carrossel*/
.carousel {
    overflow: hidden;
    width: 75vw;
    padding: 1.5rem;
    border: solid var(--main-color) 4px;
    border-radius: 30px;
}

.running {
    display: flex;
    gap: 4rem;
    animation: scrolling 20s linear infinite;
}

.skill-card{
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.skill-card img{
    width: 4rem;
}

.skill-card p{
    font-size: 1.2rem;
    font-weight: 800;
}

@media (max-width: 1680px){
    .container-services{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1180px) {
    .container-services{
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .service-card{
        height: 400px;
        display: flex;
        padding: 20px 0;
    }
    .Service-icon{
        margin-top: 0;
        width: 6rem;
    }
}

@media (max-width: 800px){
    .services h2{
        font-size: 3rem;
    }
    .running {
        gap: 0;
        animation: scrolling 10s linear infinite;
    }
    .skill-card img{
        width: 3rem;
    }
    .skill-card p{
        font-size: 1rem;
    }
}

@media (max-width: 600px){
    .service-card{
        width: 80vw;
    }
}

@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}