#M-Section{
    height: 80%;
    width: 100%;
    display: flex;
}

article{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 100%;
    width: 70%;
}