@media (max-width: 1200px) {
  header {
    display: none;
  }

  #Section-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  article {
    width: 100%;
    min-height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: rgb(138, 138, 226);
  }

  .profile-card {
    margin-right: 60px;
    position: relative !important;
  }

  .Section-main {
    width: 100%;
    height: 600px;
    padding: 40px 20px;
  }
}

@media (max-width: 576px){
  article {
    min-height: 600px;
    padding: 20px;
  }

  .profile-card {
    max-width: 90%;
    width: 95%;
    margin-left: 20px;
  }

  .section-selection-buttons{
    gap: 10px !important;
  }
}